body {
    background: #eee;
    color: #333;
    font-family: sans-serif;
}
label {
    display: block;
}
input[type=text], input[type=password] {
    border: none;
    border-bottom: 2px solid #333;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #eee;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #333;
    color: white;
}
input[type=submit] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%
}
input[type=submit]:hover {
    opacity: 0.8;
}